---
import dateFormat from "@/lib/utils/dateFormat";

import { FaRegCalendarAlt } from "react-icons/fa";
import { Image } from "astro:assets";

const { work } = Astro.props;
const { Content } = await work.render();
---

<section class="section blog-single">
  <div class="container">
    <div class="row justify-center">
      <div class="lg:col-10">
        <Image
          class="w-full rounded-xl"
          src={work.data.image}
          alt=""
          width={920}
          height={450}
        />
      </div>
      <div class="mt-10 max-w-[810px] lg:col-9">
        <h1 class="h2">
          {work.data.title}
        </h1>
        <div class="mb-5 mt-6 flex items-center space-x-2">
          <ul class="mb-4">
            <li class="mr-4 inline-block">
              <FaRegCalendarAlt className={"mr-2 -mt-1 inline-block"} />
              {dateFormat(work.data.date)}
            </li>
          </ul>
        </div>

        <div class="content">
          <Content />
        </div>
      </div>
    </div>
  </div>
</section>
